.App{
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  .main-layout{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding-top: 30px;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;

    header{
      button{
        float: right;
        background: none;
        color: white;
        padding: 8px 30px;
        border: 1px solid white;
      }

      .menu{
        padding: 0;

        li{
          color: white;
          cursor: pointer;
          list-style: none;
          font-weight: 400;
          &.active{
            color: #f7c70c;
          }
        }
      }
      .logo{
        margin-bottom: 20px;
      }
    }
    .p40{
      padding: 20px 40px;
    }
    >header,>section.main-content{
      justify-content: normal;
      color: white;
    }

    section.main-content{
      .head-title{
        font-size: 5em
      }
    }

    .marquee-section{

      bottom: 0;
      background: white;
      padding: 60px 50px;

      .inner-box{

        position: relative;
        font-weight: bold;
        padding-right: 150px;
        max-width: 85%;
        line-height: 1.2em;

        span{

          font-weight: 200;
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 10%;
          &:hover{
            color: #ecca32;
          }
          img{
            display: inline-block;
            margin-top: -5px;
          }
        }


      }
    }

  }

  @media (min-width: 1200px)
  {
    .container {
      max-width: 1180px;
    }
  }
}

@media all and (max-width: 768px) {

  .App{
    .main-layout{
      section.main-content{
        .head-title{
          font-size: 3em
        }
      }

      .marquee-section{
        padding: 40px 30px;
        .inner-box{
          width: 100%;
          padding: 0;
          max-width: 100%;
          span{
            position: relative;
            display: block;
            margin-top: 10px;
            float: right;
            top:initial;
            right: initial;
          }
        }
      }
    }
  }

}